@mixin citySelect($back-c, $w, $h, $border-b-c, $border-c) {
    width: $w + px;
    height: $h + px;
    position: relative;
    &:after {
        z-index: 2;
        width: 11px;
        height: 6px;
        content: "";
        right: 30px;
        top: calc(50% - 3px);
        position: absolute;
        background-image: url("data:image/svg+xml,%3Csvg width='11' height='6' viewBox='0 0 11 6' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 1L5.5 5L10 1' stroke='%23A3C359' stroke-linecap='round'/%3E%3C/svg%3E%0A");
    }

    select {
        background: $back-c;
        border: 1px solid $border-c;
        border-bottom: 1px solid $border-b-c;
        -webkit-appearance: none;
        padding: 0 20px;
        height: 100%;
        width: 100%;
        box-sizing: border-box;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
        border-radius: 4px;
        &:focus {
            outline: none;
        }
    }
}

@mixin learnMore($btn-w, $margin-r, $text-c, $s-breakpoint) {
    display: none;
    @media screen and (max-width: $s-breakpoint + px) {
        display: flex;
        flex-direction: column;
    }
    &-def-btn {
        max-width: $btn-w + px;

        margin-right: $margin-r + px;
        @media screen and (max-width: $s-breakpoint + px) {
            max-width: 100%;
            margin: 0 0 35px 0;
        }
    }
    &-call {
        position: relative;
        padding-left: 34px;
        &:before {
            top: 0;
            left: 0;
            width: 24px;
            height: 25px;
            content: "";
            position: absolute;
            background: url(../img/phone.svg) center no-repeat;
        }
        @media screen and (max-width: $s-breakpoint + px) {
            padding-left: 75px;
            display: flex;
            align-items: center;
            &:before {
                width: 24px;
                top: 50%;
                height: 25px;
                transform: scale(2) translate(25%, -25%);
            }
        }
    }

    &-text {
        line-height: 160%;
        color: $text-c;
    }

    &-number {
        font-weight: bold;
        font-size: 24px;
        line-height: 160%;
        color: $text-c;
        @media screen and (max-width: $s-breakpoint + px) {
            display: none;
        }
    }
}
